.add-btn {
  vertical-align: middle;
  margin-left: 10px;
}
.author-introduction>span {
  margin-right: 5px;
}
.author-div{
  text-align: center;
}
.author-introduction{
    margin-top: 10px;
}
.confirm-replace{
    margin-top: 10px;
}
